node_modules
.next
.DS_Store
.env
.env.local
out
build
.vercel


# TypeScript incremental build cache
*.tsbuildinfo

# Playwright
/test-results
/playwright-report
/blob-report

# Local Netlify folder
.netlify

# Local Supabase CLI state
supabase/.temp/
