@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9946 0.0026 286.3519);
    --foreground: oklch(0.1457 0.0043 285.8570);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1457 0.0043 285.8570);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1457 0.0043 285.8570);
    --primary: oklch(0.5282 0.2628 262.8699);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9673 0.0153 269.9856);
    --secondary-foreground: oklch(0.5282 0.2628 262.8699);
    --muted: oklch(0.9683 0.0069 247.8956);
    --muted-foreground: oklch(0.5544 0.0407 257.4166);
    --accent: oklch(0.9299 0.0334 272.7879);
    --accent-foreground: oklch(0.5282 0.2628 262.8699);
    --destructive: oklch(0.6318 0.2543 21.5312);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9288 0.0126 255.5078);
    --input: oklch(0.9288 0.0126 255.5078);
    --ring: oklch(0.5282 0.2628 262.8699);
    --chart-1: oklch(0.5282 0.2628 262.8699);
    --chart-2: oklch(0.5413 0.2466 293.0090);
    --chart-3: oklch(0.6847 0.1479 237.3225);
    --chart-4: oklch(0.7845 0.1325 181.9120);
    --chart-5: oklch(0.6450 0.2154 16.4393);
    --sidebar: oklch(0.9842 0.0034 247.8575);
    --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-primary: oklch(0.5282 0.2628 262.8699);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9683 0.0069 247.8956);
    --sidebar-accent-foreground: oklch(0.5282 0.2628 262.8699);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.5282 0.2628 262.8699);
    --radius: 0rem;
    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #0052ff;
    --shadow-2xs: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.05);
    --shadow-xs: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.05);
    --shadow-sm: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.10), 0px 1px 2px -1px hsl(220.7059 100% 50% / 0.10);
    --shadow: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.10), 0px 1px 2px -1px hsl(220.7059 100% 50% / 0.10);
    --shadow-md: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.10), 0px 2px 4px -1px hsl(220.7059 100% 50% / 0.10);
    --shadow-lg: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.10), 0px 4px 6px -1px hsl(220.7059 100% 50% / 0.10);
    --shadow-xl: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.10), 0px 8px 10px -1px hsl(220.7059 100% 50% / 0.10);
    --shadow-2xl: 0px 10px 20px 0px hsl(220.7059 100% 50% / 0.25);
    --tracking-normal: -0.02em;
  }

  .dark {
    --background: oklch(0.0969 0 0);
    --foreground: oklch(0.9842 0.0034 247.8575);
    --card: oklch(0.1448 0 0);
    --card-foreground: oklch(0.9842 0.0034 247.8575);
    --popover: oklch(0.0969 0 0);
    --popover-foreground: oklch(0.9842 0.0034 247.8575);
    --primary: oklch(0.9307 0.2286 123.0902);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2178 0 0);
    --secondary-foreground: oklch(0.9307 0.2286 123.0902);
    --muted: oklch(0.2178 0 0);
    --muted-foreground: oklch(0.7118 0.0129 286.0665);
    --accent: oklch(0.2686 0 0);
    --accent-foreground: oklch(0.9307 0.2286 123.0902);
    --destructive: oklch(0.3958 0.1331 25.7230);
    --destructive-foreground: oklch(0.9842 0.0034 247.8575);
    --border: oklch(0.2178 0 0);
    --input: oklch(0.2178 0 0);
    --ring: oklch(0.9307 0.2286 123.0902);
    --chart-1: oklch(0.9307 0.2286 123.0902);
    --chart-2: oklch(0.8903 0.1739 171.2690);
    --chart-3: oklch(0.7017 0.3225 328.3634);
    --chart-4: oklch(0.7856 0.1479 224.2696);
    --chart-5: oklch(0.9680 0.2110 109.7692);
    --sidebar: oklch(0.1149 0 0);
    --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-primary: oklch(0.9307 0.2286 123.0902);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.2178 0 0);
    --sidebar-accent-foreground: oklch(0.9307 0.2286 123.0902);
    --sidebar-border: oklch(0.2178 0 0);
    --sidebar-ring: oklch(0.9307 0.2286 123.0902);
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 30px;
    --shadow-spread: -5px;
    --shadow-opacity: 0.15;
    --shadow-color: #ccff00;
    --shadow-2xs: 0px 0px 30px -5px hsl(72 100% 50% / 0.07);
    --shadow-xs: 0px 0px 30px -5px hsl(72 100% 50% / 0.07);
    --shadow-sm: 0px 0px 30px -5px hsl(72 100% 50% / 0.15), 0px 1px 2px -6px hsl(72 100% 50% / 0.15);
    --shadow: 0px 0px 30px -5px hsl(72 100% 50% / 0.15), 0px 1px 2px -6px hsl(72 100% 50% / 0.15);
    --shadow-md: 0px 0px 30px -5px hsl(72 100% 50% / 0.15), 0px 2px 4px -6px hsl(72 100% 50% / 0.15);
    --shadow-lg: 0px 0px 30px -5px hsl(72 100% 50% / 0.15), 0px 4px 6px -6px hsl(72 100% 50% / 0.15);
    --shadow-xl: 0px 0px 30px -5px hsl(72 100% 50% / 0.15), 0px 8px 10px -6px hsl(72 100% 50% / 0.15);
    --shadow-2xl: 0px 0px 30px -5px hsl(72 100% 50% / 0.38);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @media (min-width: 1024px) {
    body {
      cursor: none;
    }

    a,
    button,
    [role="button"] {
      cursor: none;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}